header.page-header > * {
    display: inline-block;
}

header.page-header a {
    text-decoration: none;
}

header.page-header a:hover {
    text-decoration: underline;
}

header.page-header ul#sections {
    display: inline;
    margin-left: 1em;
}

header.page-header ul#sections > li {
    display: inline;
    margin-right: .5em;
}

header.page-header ul#sections > li + li {
    border-left: 1px solid black;
    padding-left: .5em;
}

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 2em;
}

table > thead {
    position: sticky;
    top: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    line-height: 2em;
    background-color: #f5f5f5;
}

