{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "favicon.png" %}">
    <link rel="stylesheet" href="{% static "ns.css" %}">
    <link href="{% static "bootstrap-5.3.3.min.css" %}" rel="stylesheet">

    <title>DecBot {% block title %}{% endblock %}</title>
</head>

<body>
<header class="container d-flex flex-wrap align-items-end">
    <h1><a href="/" class="link-dark link-underline-opacity-0 link-underline-opacity-75-hover">
            <img src="{% static "favicon.png" %}" alt="" style="height: 1em;" class="mx-2">DecBot
    </a></h1>
    <nav class="mx-4 flex-grow-1">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
                <a href="/quotes/"
                   class="nav-link {% if request.path|slice:":8" == "/quotes/" %}active{% endif %}">Quotes</a>
            </li>
            <li class="nav-item">
                <a href="/scores/"
                   class="nav-link {% if request.path|slice:":8" == "/scores/" %}active{% endif %}">Karma</a>
            </li>
            <li class="nav-item">
                <a href="/factoids/"
                   class="nav-link {% if request.path|slice:":10" == "/factoids/" %}active{% endif %}">Factoids</a>
            </li>
        </ul>
    </nav>
</header>
<main class="container" role="main">
{% block content %}
This shouldn't be visible. Somebody (maybe you?) screwed up writing a template.
{% endblock %}
</main>
<footer class="footer">
    <div class="container text-muted">
        This is <a href="https://gitlab.com/cemetech/decbot_web/">decbot_web</a>.
    </div>
</footer>
</body>
</html>
