{% with paginator=page.paginator %}
<nav class="d-flex flex-column align-items-center">
    <div>
        Showing {{ kind|default:"object" }}{{ page.object_list|pluralize }}
        {{ page.start_index }}-{{ page.end_index }} of {{ paginator.count }}.
    </div>
    <ul class="pagination flex-wrap">
        <li class="page-item"><a href="." class="page-link">First</a></li>
        <li class="page-item">
            {% if page.has_previous %}
            <a rel="prev" href="?page={{ page.previous_page_number }}" class="page-link">Previous</a>
            {% else %}
            <span class="page-link disabled">Previous</span>
            {% endif %}
        </li>
        {% for p in paginator.elided_page_range %}
        <li class="page-item {% if p == page.number %}active{% endif %}">
            {% if p != paginator.ELLIPSIS %}
            <a href="{% if p != 1 %}?page={{ p }}{% else %}.{% endif %}" class="page-link">{{ p }}</a>
            {% else %}
            <span class="page-link disabled">{{ p }}</span>
            {% endif %}
        </li>
        {% endfor %}
        <li class="page-item">
            {% if page.has_next %}
            <a rel="next" href="?page={{ page.next_page_number }}" class="page-link">Next</a>
            {% else %}
            <span class="page-link disabled">Next</span>
            {% endif %}
        </li>
        <li class="page-item"><a href="?page={{ paginator.num_pages }}" class="page-link">Last</a></li>
    </ul>
</nav>
{% endwith %}
