{% extends "base.html" %}

{% block title %}Score for {{ object.name }}{% endblock %}

{% block content %}
<h2>Karma history for {{ object.name }}</h2>
<nav><a href="{% url "scores:score-summary" %}">Return to the score list</a></nav>

<p>
    {{ object.name }}'s current score is {{ object.score }}, last changed
    {% if last_updated %}
        approximately {{last_updated|timesince}} ago.
    {% else %}
        at an indeterminate time.
    {% endif %}
</p>

<figure>
    {{ graph }}
</figure>

<table id="score-table" class="table table-sm table-responsive-sm table-striped table-hover">
    <thead>
        <tr>
            <th>In the last&hellip;</th>
            <th>&hellip;score changed by</th>
        </tr>
    </thead>
    {% for timespan, change in log %}
    <tr>
        <td>{{ timespan }}</td>
        <td>{{ change }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
