{% extends "base.html" %}

{% block title %}Scores{% endblock %}

{% block content %}
<figure>
    {{ graph }}
</figure>

<div class="d-flex flex-column align-items-center">
<table id="score-table" class="table table-sm table-responsive-sm table-striped table-hover">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </thead>
    {% for thing in things %}
    <tr>
        <td>{{thing.rank}}</td>
        <td><a href="{% url 'scores:score-detail' pk=thing.name %}">{{thing.name}}</a></td>
        <td>{{thing.score}}</td>
    </tr>
    {% endfor %}
</table>
{% include "pagination.html" with page=page_obj kind="name" %}
</div>
{% endblock %}
