{% extends "base.html" %}

{% block title %}Factoids{% endblock %}

{% block content %}

<p>
    There are {{factoids|length}} factoids in the database.
</p>
<table class="table table-sm table-responsive-sm table-striped table-hover">
    <thead>
        <tr>
            <th>Call</th>
            <th>Response</th>
        </tr>
    </thead>
    {% for factoid in factoids %}
    <tr>
        <td>{{ factoid.command }}</td>
        <td>{{ factoid.response }}</td>
    </tr>
    {% endfor %}
</table>
{% include "pagination.html" with page=page_obj kind="factoid" %}
{% endblock %}
