<pre>{{ quote.lines|join:"&#10;" }}</pre>
<a class="qid" href="{{ quote.get_absolute_url }}">#{{ quote.id }}</a>
Added by {{ quote.added_by }}
<time datetime="{{ quote.timestamp|date:"c" }}">
    <abbr title="{{ quote.timestamp|date:"Y-m-d H:i" }}">
        {{ quote.timestamp|timesince }} ago
    </abbr>
</time>
