{% extends "base.html" %}

{% block title %}Quote #{{quote.id}}{% endblock %}

{% block content %}

<h2>Quote #{{quote.id}}</h2>
{% include "quotes/quote.html" %}

<nav>
    <a href="{% url "quotes:list" %}">Return to the quotes list</a>.
</nav>
{% endblock %}
