{% extends "base.html" %}

{% block title %}Quotes{% endblock %}

{% block content %}
<h2>Quotes</h2>

<ul class="list-unstyled">{% for quote in quotes %}
    <li class="p-2 my-2 rounded bg-light">
        {% include "quotes/quote.html" %}
    </li>
{% endfor %}</ul>

{% include "pagination.html" with page=page_obj kind="quote" only %}
{% endblock %}
